<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
     <link rel="stylesheet" href='/static/logincss/loginstyle.css'>
  </head>
  <body>
  <div class="logincontainer">
      <div class="formcontainer">
          <div class="buttoncontainer">
              <div style="position: center;margin: auto 80px">Login</div>
          </div>
          <form  id="loginform" class="input-group">
                {% csrf_token %}
              <label id="username">username</label>
              <input name="username" type="text" class="input-feild" placeholder="Enter Your UserName"required>
            <label id="password">password</label>
            <input name="password" type="text" class="input-feild" placeholder="Enter Your Password" required>

              <button type="submit" class="buttonsubmit" >Login</button>
          </form>
      </div>
  </div>
   </body>
</html>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
const form=document.getElementById("loginform")
form.addEventListener('submit',function (e){
    e.preventDefault()
    var formdata=new FormData(form)
    formdata.append('csrfmiddlewaretoken','{{ csrf_token }}')
    $.ajax({
        url:"http://127.0.0.1:8000/LoginPage/",
        type:"post",
        data:formdata,
        processData: false,
        contentType: false,
        success(response){
            console.log(response)
            window.location.href="http://127.0.0.1:8000/Products"
    }
    })
})

</script>