<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
     <link rel="stylesheet" href='/static/logincss/loginstyle.css'>
  </head>
  <body>
  <div class="logincontainer">
      <div class="formcontainer">
          <div class="buttoncontainer">
              <div style="position: center;margin:auto 70px">Register</div>
          </div>
          <form  id="formelements" class="input-group" enctype="multipart/form-data" id="registerform">

              <label id="username">firstname</label>
              <input name="firstname"id="username" type="text" class="input-feild" placeholder="Enter Your firstname"required>
            <label id="password">password</label>
            <input name="password" id="psasword"type="text" class="input-feild" placeholder="Enter Your Password" required>
            <label>repassword</label>
            <input name="repassword" id="repassword" type="text" class="input-feild" placeholder="Enter Your Password Again" required>
              <label>image</label>
              <input name="image"type="file" id="image" name="image">
              <label>lastname</label>
              <input id="lastname" accept="image/jpeg, image/png" type="text" name="lastname"class="input-feild" placeholder="Enter Your LastName" required>
              <label>email</label>
              <input id="email" type="text" name="email"class="input-feild" placeholder="Enter Your Email" required>
              <button type="submit" class="buttonsubmit" >Register</button>
          </form>
      </div>
  </div>
   </body>
</html>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
 const form=document.getElementById("formelements")
 form.addEventListener('submit',function (e){
     e.preventDefault()
     var formdata=new FormData(form)
     formdata.append('csrfmiddlewaretoken','{{ csrf_token }}')
     $.ajax({
         url:'http://127.0.0.1:8000/CreateAccount/',
         type:"post",
         data:formdata,
         processData: false,
         contentType: false,
        success(response){
             console.log(response)
        }
     })
 })

</script>